@inject LanguageService languageService
@implements IDisposable
@page "/"

<style type="text/css">
    .index {
        width: 50rem;
    }
</style>

<div class="index card mw-100 mx-auto mt-1 mb-5">
    <div class="card-body">
        <h5 class="card-title d-flex flex-wrap align-items-center justify">
            <span class="mr-2 text-truncate">
                @localizer["Body Fat Calculator"]
            </span>
            <span class="flex-fill"></span>
            <LanguageSwitcherComponent class="btn-group-sm" />
        </h5>
        <div class="card-text">
            <div class="d-flex flex-wrap mb-2" role="group">
                @foreach (var item in Tabs)
                {
                    <button type="button"
                            class="flex-fill btn text-truncate @(item == ActiveTab ? "btn-primary" : "btn-light text-dark")"
                            @onclick="() => { ActiveTab = item; }">
                        @localizer[item]
                    </button>
                }
            </div>

            @switch (ActiveTab)
            {
                case "USNavy":
                    <USNavyComponent @bind-Male="dataService.Male" @bind-Model="dataService.USNavy" />
                    break;
                case "JacksonAndPollock3SiteSkinFold":
                    <JacksonAndPollock3SiteSkinFoldComponent @bind-Male="dataService.Male" @bind-Model="dataService.JacksonAndPollock3SiteSkinFold" />
                    break;
                case "Body Fat Percentages":
                    <FatPercentageTableComponent />
                    break;
            }
        </div>
    </div>
</div>

@code {
    private List<string> Tabs { get; set; } = new List<string> {
        "USNavy",
        "JacksonAndPollock3SiteSkinFold",
        "Body Fat Percentages"
    };

    private string ActiveTab { get; set; } = "";

    protected override void OnInitialized()
    {
        languageService.OnCultureChange += StateHasChanged;
        ActiveTab = Tabs.First();
        base.OnInitialized();
    }

    public void Dispose()
    {
        languageService.OnCultureChange -= StateHasChanged;
    }
}