@page "/"

<style type="text/css">
    .index {
        width: 40rem;
    }
</style>

<div class="index card mw-100 mx-auto mt-1 mb-5">
    <div class="card-body">
        <h5 class="card-title">@localizer["Body Fat Calculator"]</h5>
        <div class="card-text">
            <div class="btn-group d-flex mb-2" role="group">
                @foreach (var item in Tabs)
                {
                    <button type="button"
                            class="btn @(item == ActiveTab ? "btn-primary" : "btn-light text-dark")"
                            @onclick="() => { ActiveTab = item; }">
                        @localizer[item]
                    </button>
                }
            </div>

            @switch (ActiveTab)
            {
                case "USNavy":
                    <USNavyComponent @bind-Male="Male" />
                    break;
                case "JacksonAndPollock3SiteSkinFold":
                    <JacksonAndPollock3SiteSkinFoldComponent @bind-Male="Male" />
                    break;
            }
        </div>
    </div>
</div>

@code {
    private bool Male { get; set; } = true;

    private List<string> Tabs { get; set; } =
        new[]
        {
            nameof(USNavyModel),
            nameof(JacksonAndPollock3SiteSkinFoldModel)
                }
        .Select(x => x.Replace("Model", ""))
        .ToList();
    private string ActiveTab { get; set; } = "";

    protected override void OnInitialized()
    {
        ActiveTab = Tabs.First();
        base.OnInitialized();
    }
}