@inject NavigationManager navigationManager
@implements IDisposable
@page "/"
@page "/{ActiveTab}"

<style type="text/css">
    .index {
        width: 50rem;
    }
</style>

<div class="index card mw-100 mx-auto mt-1 mb-5">
    <div class="card-body">
        <h5 class="card-title d-flex flex-wrap align-items-center justify">
            <span class="mr-2 text-truncate">
                @localizer["Body Fat Calculator"]
            </span>
        </h5>
        <div class="card-text">
            <div class="d-flex flex-wrap mb-2" role="group">
                @foreach (var item in Tabs)
                {
                    <a href="@item" class="flex-fill btn text-truncate @(item == ActiveTab ? "btn-primary" : "btn-light text-dark")">
                        @localizer[item]
                    </a>
                }
            </div>

            @switch (ActiveTab)
            {
                case "USNavy":
                    <GenderSelectorComponent />
                    <USNavyComponent @bind-Model="dataService.USNavy" />
                    break;

                case "JacksonAndPollock3SiteSkinFold":
                    <GenderSelectorComponent />
                    <JacksonAndPollock3SiteSkinFoldComponent @bind-Model="dataService.JacksonAndPollock3SiteSkinFold" />
                    break;

                case "BodyFatPercentages":
                    <FatPercentageTableComponent />
                    break;
            }
        </div>
    </div>
</div>

@code {
    private List<string> Tabs { get; init; } = new List<string> {
        "USNavy",
        "JacksonAndPollock3SiteSkinFold",
        "BodyFatPercentages"
    };

    [ParameterAttribute] public string ActiveTab { get; set; } = "";

    protected override void OnInitialized()
    {
        if (!Tabs.Contains(ActiveTab)) navigationManager.NavigateTo(Tabs.First());

        dataService.OnGenderChanged += StateHasChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        dataService.OnGenderChanged -= StateHasChanged;
    }
}